@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap");
* {
  width: auto;
  height: 100%;
  margin: 0;
  background-color: #e3d8c1;
}
body {
  height: -webkit-fill-available;
}

.fondo-top {
  display: block;
  width: 110px;
  height: 110px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 10%;
  backdrop-filter: blur(90px);
  filter: blur(40px);
}
.fondo-top1 {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  backdrop-filter: blur(90px);
  filter: blur(40px);
  right: 50%;
}
.fondo-top2 {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 85%;
  right: 40%;
  z-index: 1;
  backdrop-filter: blur(90px);
  filter: blur(40px);
}
.fondo-top3 {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  backdrop-filter: blur(90px);
  filter: blur(40px);
  right: 80%;
}
.fondo-top4 {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 80%;
  backdrop-filter: blur(90px);
  filter: blur(40px);
}
.fondo-top5 {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #c85568;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  backdrop-filter: blur(90px);
  filter: blur(40px);
  right: 10%;
}

.main-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  font-weight: bolder;
  font-size: 4.6rem;
  text-shadow: #9a2d3c 0 -5px;
  color: #c85568;
}
p {
  font-family: "Readex Pro", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  color: #c85568;
}

.div-img-main {
  display: flex;
  justify-content: center;
}
.img-main {
  border-radius: 50%;
}
div {
  display: contents;
}
.botones-accion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  gap: 22px;
}

/*
border: 1px solid black;
    display: grid;
    align-content: center;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
*/
a {
  text-decoration: none;
}

.img-w {
  width: auto;
  height: 38px;
  background-color: transparent;
}

.img-ll {
  width: auto;
  height: 24px;
  background-color: transparent;
}
.img-t {
  width: auto;
  height: 30px;
  background-color: transparent;
}
.div-footer {
  margin-top: 1rem;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.btn-cn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 8px;
}
.btn-tn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 8px;
}
.btn-cot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 8px;
}
.button-ll {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  background-color: whitesmoke;
  padding-right: 10px;
}
.button-w {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: #29a71a;
  padding-right: 10px;
  z-index: 99;
}
.button-t {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: black;
  padding-right: 10px;
  z-index: 99;
}
.button-w:hover {
  background-color: #1e7a12;
  transition: all 0.7s;
  border: 1px solid #29a71a;
}
.button-ll:hover {
  background-color: white;
  border: 1px solid black;
  transition: all 0.7s;
}
.p-prox {
  margin-top: 2rem;
  color: #9a2d3c;
  z-index: 99;
  background-color: transparent;
  right: 0;
  left: 0;
}
@media (max-width: 450px) {
  .fondo-top {
    display: block;
    width: 110px;
    height: 110px;
    background-color: #c85568;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 10%;
    backdrop-filter: blur(90px);
    filter: blur(40px);
  }
  .fondo-top1 {
    display: none;
  }
  .fondo-top2 {
    display: none;
  }
  .fondo-top3 {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #c85568;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    backdrop-filter: blur(90px);
    filter: blur(40px);
    right: 80%;
    z-index: 1;
  }
  .fondo-top4 {
    display: none;
  }
  .fondo-top5 {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #c85568;
    border-radius: 50%;
    position: absolute;
    top: 96%;
    backdrop-filter: blur(90px);
    filter: blur(40px);
    right: 10%;
    z-index: 1;
  }

  .btn-con {
    background-color: transparent;
  }
  .btn-cot {
    background-color: transparent;
  }
  .div-img-main {
    background-color: transparent;
    z-index: 99;
  }
  .button-ll {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
    justify-content: space-evenly;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    padding-right: 10px;
  }
  .button-t {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
    justify-content: space-evenly;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: black;
    padding-right: 10px;
  }
  h1 {
    font-size: 3rem;
  }
  .botones-accion {
    display: grid;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 2rem;
    z-index: 99;
    background-color: transparent;
  }
  .button-w {
    width: 250px;
    justify-content: space-evenly;
    display: flex;

    align-items: center;
    gap: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    background-color: #29a71a;
    padding-right: 10px;
    z-index: 99;
  }
  .button-w:hover {
    background-color: #1e7a12;
    transition: all 0.7s;
    border: 1px solid #29a71a;
  }
  .button-ll:hover {
    background-color: white;
    border: 1px solid black;
    transition: all 0.7s;
  }
  .div-footer {
    margin-top: 1rem;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
